
<div id="myModal" class="myModal ">
<div class="modal-about is-hidden">
  
</div>
</div>
  


<!-- <div class="modal-about">
  <button type="button" class="about-close">
    <svg class="about-svg">
      <use href="./img/sprit.svg#close"></use>
    </svg>
  </button>
  <div class="modal-book" id="my-modal-book">
  </div>
  <div id="aboutBtns" class="all-btns-modal">
  <button type="button" id="ad" class="modal-ad">
    Add book to shopping list
  </button>
  <div class="remove">
    <button type="button" id="removeBtn" class="modal-ad remove">
      Delete from shopping list
    </button>
    <p id="removeP" class="about-paragraf remove">Сongratulations! You have added the book to the shopping list. To delete, press the
      button “Remove from the shopping
      list”.
    </p>
  </div>
  </div>
  <script src="./src/js/modal-about.js"></script>
</div> -->

