<div class="modal-about">
  <button type="button" class="about-close">
    <svg>
      <use href="./img/sprit.svg#close"></use>
    </svg>
  </button>
  <div class="modal-book">
  </div>
  <button type="button" class="modal-ad">
    Add book to shopping list
  </button>
  <div class="remove">
    <button type="button" class="modal-ad">
      Delete from shopping list
    </button>
    <p class="about-paragraf">Сongratulations! You have added the book to the shopping list. To delete, press the
      button “Remove from the shopping
      list”.
    </p>
  </div>
</div>