<div class="donation">
  <div class="support-header">
    <div>
      <h2 class="header-text">Support Ukraine</h2>
    </div>
    <img
      src="./img/suport-ua/coat-of-arms.png"
      alt="coat of arms of Ukraine"
      srcset="
        ./img/suport-ua/coat-of-arms.png    1x,
        ./img/suport-ua/coat-of-arms@2x.png 2x">
  </div>
  <ol class="fonds">
   
  </ol>

  <div class="center">
    <button type="button" class="nav-btn">
      <svg class="icon icon-down" width="22" height="22">
        <use href="./img/suport-ua/icon.svg#icon-down"></use>
      </svg>
      <svg class="icon icon-up is-hidden" width="22" height="22">
        <use href="./img/suport-ua/#icon-up"></use>
      </svg>
    </button>
  </div>
</div>
