:root {
  font-family: DM Sans, sans-serif;
  font-size: 14px;
  line-height: 1, 12;
  font-weight: 400;
  --bold: 700;
  font-style: normal;
  --background_l: #f6f6f6;
  --background_d: #202024;
  --background_m: rgba(17, 17, 17, 0.4);
  --background_active: #eac645;
  --text: #111;
  --text-menu: rgba(17, 17, 17, 0.6);
  --text-hover: #4f2ee8;
  --text-gray: #b4afaf;
  --background_l: #202024;
  --text: #ffffff;
  color-scheme: dark;
}
